<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee;http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>enregistrement</servlet-name>
    <servlet-class>com.tpjee.servlets.Enregistrement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enregistrement</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>progression</servlet-name>
    <servlet-class>com.tpjee.servlets.Progression</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>progression</servlet-name>
    <url-pattern>/progress</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>suivi</servlet-name>
    <servlet-class>com.tpjee.servlets.Suivi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suivi</servlet-name>
    <url-pattern>/tracking</url-pattern>
  </servlet-mapping>
</web-app>